<h1>job inspector</h1>
<br><br>

<% if current_user != nil %>
	Logged in: <%= link_to current_user.username, current_user %>
<% end %>

<% if current_user %>
  |
	<%= link_to "Logout", signout_path, :method => 'delete' %>
  <p> Your feeds: </p>

  <% if current_user.feeds.any? %>
  	<% current_user.feeds.each do |feed| %>
  		<%= link_to feed.url.split(".").first, feed %> |
  		 <%= link_to 'delete', feed, method: :delete %> 
  		<br>
  	<% end %>
  <% end %>
  <br> Make a new feed:<br><br>
<% @feed = current_user.feeds.new() %>
<%= render :partial => '/feeds/form' %>
<% end %>



<br><br><br>

<% if !signed_in? %>
<%= form_for(:session, url: sessions_path) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
 <% end %>

 <p>New user? <%= link_to "Sign up bro!", signup_path %></p>
<% end %>
