
<%= form_for(@tag_group, :html => {:class => "group-add-form"}) do |f| %>
  <% if @tag_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_group.errors.count, "error") %> prohibited this tag_group from being saved:</h2>

      <ul>
      <% @tag_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn btn-small btn-block btn-primary'%>
  </div>
<% end %>