<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.username %>
  
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h3> Feeds </h3>
<% if @user == current_user && @user.feeds.any? %>
	<% current_user.feeds.each do |feed| %>
 		<%= link_to feed.url, feed %>
 		<br>
	<% end %>
<% end %>
<br>

<% @feed = current_user.feeds.new() %>
<%= render :partial => '/feeds/form' %>
